@import 'variables';

//GENERAL STYLING

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
}

 html{
    background: $body-bg fixed;
}

.banner {
  flex-wrap: nowrap;



  &__logo {
      width: 35vw;

      &__img {
          width: inherit;
      }
  }

  &__nav {
    flex-direction: row;

    &__item {
      padding: 0 10px;
    }

  }
}
.container {
  margin-top: 15px;
}
.noflexwrap{
    width: 100vw;
    margin: 15px 0 0 0;
    flex-wrap: nowrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logout {
  min-width: 5rem;
  border: none;
}

.back{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 100%;
  margin: 45px;
  padding: 10px;
}

.confirm {
  color: white;
  font-size: 30px;
  background: linear-gradient(90deg, #FFB301 0%, #FF6C01 100%);
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  border: none;
  transition: 0.5s ease all;
  padding: 15px 120px 1px 120px;
  margin: 15px;

  &:hover{
    text-decoration: none;
    color: black;
  }
  &:active{
    background: linear-gradient(90deg, #FFD646 0%, #FF9C54 100%);
  }
}

.cancel {
  background: #D5D5D5;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  transition: 0.5s ease all;
  border: none;

  &:hover{
    text-decoration: none;
    background: #D5D5D5;
    color: #717171;
  }
  &:active{
    text-decoration: none;
    background: #717171;
    color: white;
  }
}

.home {
  display: inherit;
  color: black;
  font-weight: bold;
  transition: 0.5s ease all;
  background: white;

  &:hover {
    color: #FF9C54;
    text-decoration: none;

    box-shadow: inset 1px 1px 5px 5px rgba(172,172,172,0.54);
  }

  &__icon {
    border-radius: 10px;
    height: 50px;
    width: 50px;
    margin-right: 20px;
  }

  &__title {
    transform: translateY(50%);
  }
}



@media (min-width: 1025px) {
  .banner {

    &__logo {
        width: 10vw;
      }
    }


  .noflexwrap {
    margin: 15px 25px 10px 25px;
  }
}
