//Ringtone Pagina

.flex {
  display: flex;
  justify-content: space-between;
    &__title {

    }

    &__delete {

    }

    &__player {
      width: 50px;
    }
}

.add {

  &__label {
    margin: 10px 0;
  }

  &__name {
    border-bottom: solid 1px;
    padding-bottom: 20px;
  }

  &__ringtone {
    padding-bottom: 20px;

  }

  &__submit {
    margin: 20px 0;
    padding: 5px;
  }
}
