//Settings Pagina

.volumeText{
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  text-align: center;
}

.volumeControl{
  width: 100%;
  margin: 50px auto;
}

.volumeControl__slider{
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  background-color: black;
  height: 5px;
  width: 100%;
}
.volumeControl__slider::-moz-range-thumb{
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  height: 20px;
  width: 20px;
  background: linear-gradient(180deg, #FFB601 0%, #FF5101 100%);
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.7);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.7);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.7);
  cursor:pointer;
}

.volumeControl__slider__image{
  width: 40px;
  height: 40px;
}

.volume_up{
  float: left;
}
.volume_down{
  float: right;
}
