//Start Pagina
.welcome {
  background: none;
  border: none;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  color: #fff;
  padding: 20px 0;

    &__logo{
        width: 60%;
        margin: 10% auto;
        display: block;
    }

    &__title{
        text-align: center;
        font-weight: bold;
    }

    &__text{
        padding: 40px 0;
        text-align: center;
    }

    &__button{
        cursor: pointer;
        text-align: center;
        color: white;
        display: block;
        margin: 0 auto;
        padding: 5px;
        transition: 0.5s ease all;
        width: 240px;
        height: 50px;
        background: linear-gradient(90deg, #FFB301 0%, #FF6C01 100%);
        box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
        border-radius: 7px;
        text-decoration: none;


        &__text{
            text-decoration: none;
            line-height: normal;
        }

        &:hover{
          text-decoration: none;

        }

        &:active{
          width: 200px;
        }

    }
}

@media (min-width: 1025px) {

  .welcome {
      &__logo{
        width: 30vw;
        margin: 5% auto;

      }
    }
}
