@import 'variables';

//GENERAL STYLING

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
}

 html{
    background: $body-bg fixed;
}

.banner {
  flex-wrap: nowrap;



  &__logo {
      width: 60%;

      &__img {
          width: inherit;
          position: relative;
          left: -5px;
      }
  }

  &__nav {
    flex-direction: row;

    &__item {
      padding: 0 10px;
    }

  }
}
.container {
  margin-top: 15px;
}
.noflexwrap{
    margin-top: 15px;
    flex-wrap: nowrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logout {
  min-width: 5rem;
}

.back{
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-weight: bold;
  font-size: 150%;
  margin: 10px;
}
