* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

html {
    width: 100vw;
    height: 100vh;
}


body{
    background: linear-gradient(180deg, #0ac8e7 0%, #290AE7 100%);
}



h3{
    text-align:center;
    margin: 20px 0;
}

.box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    padding: 20px 10px;
    background-color: white;
    border-radius: 10px;
    border: 1px #FFB800 solid;
}

.logo{
    width: 60%;
    margin: 10% auto;
    display: block;
}
